<div id="player-content">
    <div class="action">
        <div class="spacer" id="title">{{title}}</div>
            <div class="buttonZone">
                <button type="button" class="button" id="backButt"><strong>&#60&#60 &#45</strong></button>
                <button type="button" class="button" id="pausePlay"><strong>&#124 &#124 &#62</strong></button>
                <button type="button" class="button" id="skipButt"><strong>&#45 &#62&#62 </strong></button>
            </div>
        <div class="spacer"></div>
    </div>
</div>
<div id="player" data-playlistid={{playListId}} data-rand="{{shuffle}}">
</div>