<div id="player" data-playListId={{playListId}}></div>
<div id="player-content">
    <div class="action">
        <div class="spacer" id="title">{{title}}</div>
            <script>"PLAYER GOES HERE"</script>
            <div class="buttonZone">
                <button type="button" id="backButt"><i class="button"></i></button>
                <button type="button" id="pausePlay"><i class="button"></i></button>
                <button type="button" id="skipButt"><i class="button"></i></button>
            </div>
        <div class="spacer"></div>
    </div>
</div>
