body
{
    margin: 0px;
    padding: 0px;
    font-family: Courier, monospace;    
}
header
{
    border-style: solid;
    border-color: black;
    border-width: 3px;
    width: 50%;
    height: 144px;
    background-color: rgb(90, 90, 250);
    padding: 0px;
    margin: 0px;
    position: fixed;
}

header h1
{
    font-size: 60px;
    color: black;
    text-align: center;
}

#navBar
{
    background-color: white;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: left;
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.gameLink
{
    height: 144px;
    width: 256px;
    background-color: rgb(90, 90, 250);
    border-style: solid;
    border-color: black;
    border-width: 3px;
    padding: 0px;
    margin: 0px;
}

.gameLink a
{
    color: black;
    font-size: 30px;
    text-align: center;
}

#content{
    background-color: wheat;
    float: left;
    height: 90%;
    width: 90%;
    position: fixed;
    margin-left: 296px;
    margin-top: 184px;
    margin-bottom: 0;
    padding-bottom: 0px;
}

#main-page
{
    width: 100%;
    height: 100%;
    margin: auto;
    float: right;
    display: flex;
}

.linkPhoto
{
   max-height: 100%;
   max-width: 100%; 
}

.linkTitle
{
    max-height: 10%;
    max-width: 100%
}
